#content-group {
    height: 500px;
}

.option-label {
    background-image: url('./images/voice.png');
}

.optionDiv input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.optionDiv input:active+.option-label {
    opacity: .9;
}

.optionDiv input:checked+.option-label {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.option-label {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100px;
    height: 70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.option-label:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* progress bar */
#progress-div {
    width: 100%;
    background-color: grey;
}

#bar-div {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    /* To center it horizontally (if you want) */
    line-height: 30px;
    /* To center it vertically */
    color: white;
}