/*----------------------------*
 * main page
 *----------------------------*/
div.mode-container {
  background-clip: #fbfafb;
  height: 100px;
  width: 161.8px;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-color: #070706;
  border-width: 2px;
  border-bottom-width: 3.236px;
  border-radius: 10px;
}

.mode-container:hover {
  background-color: #918c8c;
}

#mainContainer {
  display: flex;
  justify-content: center;
  padding-top: 16.18%;
}

/*----------------------------*
 bopomo to voice
 *----------------------------*/
div.card {
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 15px;
}

div.container {
  padding: 30px;
}

.option-label {
  background-image: url("../images/voice.png");
}

.optionDiv {
  display: flex;
  justify-content: center;
  min-height: 70px;
}

.optionDiv input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.optionDiv input:active+.option-label {
  opacity: 0.9;
}

.optionDiv input:checked+.option-label {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.option-label {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(0.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(0.7);
  filter: brightness(1.8) grayscale(1) opacity(0.7);
}

.option-label:hover {
  -webkit-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  -moz-filter: brightness(1.2) grayscale(0.5) opacity(0.9);
  filter: brightness(1.2) grayscale(0.5) opacity(0.9);
}

.button-group__buttons {
  margin-bottom: 20px;
}

/* progress bar */
#progress-div {
  width: 100%;
  background-color: grey;
}

#bar-div {
  width: 0%;
  height: 30px;
  background-color: #4caf50;
  text-align: center;
  /* To center it horizontally (if you want) */
  line-height: 30px;
  /* To center it vertically */
  color: white;
}

#showMsg {
  min-height: 254px;
  display: flex;
  justify-content: center;
}

#button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content-group {
  padding-bottom: 0;
}